__pycache__/prediction.cpython-35.pyc
__pycache__/buySuggestion.cpython-35.pyc
__pycache__/model.cpython-35.pyc
__pycache__/settings.cpython-35.pyc
tmp/model.ckpt-4000.index
tmp/checkpoint
tmp/graph.pbtxt
tmp/model.ckpt-2000.data-00000-of-00001
tmp/model.ckpt-2000.index
tmp/model.ckpt-2000.meta
tmp/model.ckpt-3000.data-00000-of-00001
tmp/model.ckpt-3000.index
tmp/model.ckpt-3000.meta
tmp/model.ckpt-4000.data-00000-of-00001
tmp/model.ckpt-4000.meta
tmp/model.ckpt-5000.data-00000-of-00001
tmp/model.ckpt-5000.index
tmp/model.ckpt-5000.meta
tmp/model.ckpt-6000.data-00000-of-00001
tmp/model.ckpt-6000.index
tmp/model.ckpt-6000.meta
tmp/eval/events.out.tfevents.1556810362.3b8e14a84b75
__pycache__/model.cpython-35.pyc
__pycache__/prediction.cpython-35.pyc
tmp/eval/events.out.tfevents.1556815348.3b8e14a84b75
